<!DOCTYPE html>
<html>
<head>
    <title>NHL Teams</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('partials/banner') %>
    
    <div id="team-buttons" class="button-grid">
        <button data-team="ANA" class="team-button nhlana"><span>Anaheim Ducks</span></button>
        <button data-team="BOS" class="team-button nhlbos"><span>Boston Bruins</span></button>
        <button data-team="BUF" class="team-button nhlbuf"><span>Buffalo Sabres</span></button>
        <button data-team="CGY" class="team-button nhlcgy"><span>Calgary Flames</span></button>
        <button data-team="CAR" class="team-button nhlcar"><span>Carolina Hurricanes</span></button>
        <button data-team="CHI" class="team-button nhlchi"><span>Chicago Blackhawks</span></button>
        <button data-team="COL" class="team-button nhlcol"><span>Colorado Avalanche</span></button>
        <button data-team="CBJ" class="team-button nhlcbj"><span>Columbus Blue Jackets</span></button>
        <button data-team="DAL" class="team-button nhldal"><span>Dallas Stars</span></button>
        <button data-team="DET" class="team-button nhldet"><span>Detroit Red Wings</span></button>
        <button data-team="EDM" class="team-button nhledm"><span>Edmonton Oilers</span></button>
        <button data-team="FLA" class="team-button nhlfla"><span>Florida Panthers</span></button>
        <button data-team="LAK" class="team-button nhllak"><span>Los Angeles Kings</span></button>
        <button data-team="MIN" class="team-button nhlmin"><span>Minnesota Wild</span></button>
        <button data-team="MTL" class="team-button nhlmtl"><span>Montreal Canadiens</span></button>
        <button data-team="NSH" class="team-button nhlnsh"><span>Nashville Predators</span></button>
        <button data-team="NJD" class="team-button nhlnjd"><span>New Jersey Devils</span></button>
        <button data-team="NYI" class="team-button nhlnyi"><span>New York Islanders</span></button>
        <button data-team="NYR" class="team-button nhlnyr"><span>New York Rangers</span></button>
        <button data-team="OTT" class="team-button nhlott"><span>Ottawa Senators</span></button>
        <button data-team="PHI" class="team-button nhlphi"><span>Philadelphia Flyers</span></button>
        <button data-team="PIT" class="team-button nhlpit"><span>Pittsburgh Penguins</span></button>
        <button data-team="SJS" class="team-button nhlsjs"><span>San Jose Sharks</span></button>
        <button data-team="SEA" class="team-button nhlsea"><span>Seattle Kraken</span></button>
        <button data-team="STL" class="team-button nhlstl"><span>St. Louis Blues</span></button>
        <button data-team="TBL" class="team-button nhltbl"><span>Tampa Bay Lightning</span></button>
        <button data-team="TOR" class="team-button nhltor"><span>Toronto Maple Leafs</span></button>
        <button data-team="UTA" class="team-button nhluta"><span>Utah Mammoth</span></button>
        <button data-team="VAN" class="team-button nhlvan"><span>Vancouver Canucks</span></button>
        <button data-team="VGK" class="team-button nhlvgk"><span>Vegas Golden Knights</span></button>
        <button data-team="WSH" class="team-button nhlwsh"><span>Washington Capitals</span></button>
        <button data-team="WPG" class="team-button nhlwpg"><span>Winnipeg Jets</span></button>
    </div>

    <script src="script.js"></script>
</body>
</html>