<div class="banner" id="banner">
    <div class="banner-content">
        <h1>StatHub AI</h1>
        <h3>A sports data visualization tool with an AI chatbot integration.</h3>
        <div class="button-container">
            <a href="/" class="banner-button">Home</a>
            <a href="https://github.com/brettmt10/stathubAI" class="banner-button">GitHub</a>
        </div>
    </div>
</div>